/*INDEX
1. Pre styling 36 - 61.
2. Utilities 63 - 149.
3. Navbar 151 - 194.
4. Immersive experience section 196 - 232.
5. Two column welcome section 234 - 259.
6. Our creations section 262 - 300.
7. Footer 302 - 348.
8. Attribution 343 - 355.
9. Media query 878px 356 - 451.
10. Media query 650px 452 - 522.
11. Media query 376px 523 - end.
*/

:root{
    --white:hsl(0,0%,100%);
    --black:hsl(0,0%,0%);
    --dark-gray:hsl(0,0%,55%);
    --very-dark-gray:hsl(0,0%,41%);
    --font-size:15px;
    --title-1:3vw;
    --title-2:38px;
    --title3:32px;
}

@font-face{
    font-family:'Alata';
    src:url(../fonts/Alata/Alata-Regular.ttf);
}

@font-face{
    font-family:'Josefin-sans';
    src:url(../fonts/Josefin_Sans/static/JosefinSans-Light.ttf);
}

/*PRE STYLING*/

a{
    text-decoration: none;
    color:var(--white);
}


ul{
    list-style: none;
}

body{
    font-size:var(--font-size);
    font-family: 'Alata';
}

h1,h2,h3{
    font-family:'Josefin-sans';
    text-transform: uppercase;
}

h2,h3{
    font-size:var(--title-1);
}

/*UTILITIES*/

.flex{
    display:flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}

.container{
    max-width:1150px;
    height:100%;
    margin:auto;
    padding:0 20px;
}

.padding{
    padding-top:160px;
}

.margin{
    margin-top:300px;
}

.cover img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(237px,1fr));
    grid-auto-columns:minmax(200px,auto);
    gap:30px;
}

.d-flex{
    display:flex;
}

.btn{
    padding:15px 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.btn-outline-black{
    border:2px solid var(--black);
    color:var(--black);
    transition:background-color .25s;
}

.btn-outline-black:hover{
    background-color:var(--black);
    color:var(--white);
}

.underline a::after{
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:1.8px;
    background-color:var(--white);
    transition:.25s linear; 
    opacity:0;
    transform:scaleX(0);
}

.underline a:hover::after{
    transform: scaleX(1);
    opacity:1;
}

.image-mobile{
    display:none;
    object-position: top;
}

#stop-animations *{
    animation: none;
    transition:none;
}

/*NAVBAR*/

.nav{
    height:180px;
    position:fixed;
    z-index:5;
    top:0;
    width:100%;
}

.nav__toggler{
    display:none;
    height:100px;
    width:35px;
    border:none;
    background:url(../img/icon-hamburger.svg) no-repeat center center;
    background-size:28px;
}

button[aria-expanded="true"]{
    background:url(../img/icon-close.svg) no-repeat center center;
    background-size: 28px;
}

.nav__item{
    padding-left:50px;
}

.nav__logo{
    width:234px;
    cursor:pointer;
}

.nav__link{
    font-size:18px;
    position:relative;
    padding-bottom:14px;
}

.nav__scroll{
    height:100px;
    background-color:var(--black);
}

/*IMMERSIVE EXPERIENCE SECTION*/

.immersive{
    position:relative;
    width:100%;
    height:650px;
    z-index:3;
}

.immersive__image{
    filter:brightness(.65);
}

.immersive .container{
    position:absolute;
    width:100%;
    height:auto;
    top:60%;
    transform:translateY(-50%) translateX(-50%);
    z-index:3;
    left:50%;
}

.immersive__box{
    width:630px;
    border:3px solid var(--white);
    padding:40px 40px 20px 40px;
}

.immersive__box h1{
    color:var(--white);
    font-weight:300;
    font-size:75px;
    line-height:1;
    margin:0;
}

/*TWO COLUMN WELCOME SECTION*/

.welcome__image{
    flex:2 2 100px;
}

.welcome__text{
    flex:1 1 300px;
    margin-left:-215px;
    background-color:var(--white);
    padding:7vw 0 0 100px;
    align-self:flex-end;
}

.welcome__text h2{
    font-size:var(--title-1);
    margin-bottom:40px;
    font-weight:400;
    line-height:.95;
}

.welcome__text p{
    line-height:1.8;
    color:var(--dark-gray);
    font-size:17px;
}

/*OUR CREATIONS SECTION*/

.creations__title h2{
    font-weight:400;
    font-size:var(--title-1);
}

.creations__content{
    padding-top:77px;
}

.creations__item img{
    position:relative;
    z-index:-1;
}

.creations__item{
    position:relative;
    background-image:linear-gradient(transparent 30%,rgba(0,0,0,.65));
}

.creations__item:hover{
    background:rgba(255,255,255,.65);
}

.creations__item:hover > h3{
    color:var(--black);
}

.creations__item h3{
    position:absolute;
    bottom:30px;
    left:50px;
    font-size:32px;
    color:var(--white);
    font-weight:400;
    width:165px;
}

/*FOOTER*/

.footer{
    background-color:var(--black);
    padding:50px 0;
    position:relative;
}

.footer .grid{
    grid-template-columns:1fr 1fr;
    grid-template-rows:40px 20px;
    justify-content:space-between;
}

.footer__license p{
    color:var(--dark-gray);
}

.footer__link{
    position:relative;
    padding-bottom:10px;
}

.footer__social{
    display:flex;   
    justify-content: flex-end; 
}

.footer__item{
    padding-right:30px;
}

.footer__license{
    display:flex;
    justify-content: flex-end;
}

.footer__social img{
    width:25px;
    height:25px;
}

.footer__social .footer__item{
    padding-left:20px;
    padding-right:0;
}

/*ATTRIBUTION*/

.attribution { 
    font-size: 11px; text-align: center; 
    position:absolute;
    width:100%;
    bottom:10px;
    color:var(--dark-gray);
}

.attribution a { color: hsl(197, 94%, 51%); }


/*MEDIA QUERY 878px*/

@media screen and (max-width:878px){
    .nav__menu{
        display:block;
        position:fixed;
        top:0;
        width:100vw;
        height:100vh;
        padding-top:250px;
        left:0;
        background-color:var(--black);
        transform:translateX(-100%);
        opacity:0;
        z-index:-1;
        transition:transform .6s, opacity .8s;
    }

    .nav__toggle{
        transform:translateX(0);
        opacity:1;
    }

    .nav__toggler{
        display:inline-block;
        cursor: pointer;
    }

    .nav .container{
        display:block;
    }

    .nav__responsive{
        height:100%;
    }

    .nav{
        height:95px;
    }

    .nav__logo{
        width:150px;
    }

    .nav__item{
        padding:0;
        padding-bottom:25px;
        padding-left:20px;
    }

    .nav__link{
        text-transform:uppercase;
        font-family:'Josefin-sans';
        font-weight:400;
        font-size:28px;
    }

    .immersive__box{
        margin:auto;
        width:410px;
    }

    .welcome__image{
        flex:1 1 100%;
    }

    .welcome__text{
        margin-left:0;
        padding:0;
        padding-top:43px;
        text-align:center;
    }
    
    .welcome__text h2, .creations__title h2, .immersive__box h1{
        font-size:var(--title-2) ;
    }

    .padding{
        padding-top:100px;
    }

    .margin{
        margin-top:100px;
    }

    .grid{
        grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    }

}

/*MEDIA QUERY 650px*/

@media screen and (max-width:650px){
    .footer .grid{
        grid-template-columns:1fr;
        grid-template-rows:50px 200px 20px 20px;
    }

    .footer__logo{
        text-align: center;
        order:0;
    }

    .footer__links{
        flex-direction: column;
        text-align:center;
        order:1;
    }

    .footer__social{
        justify-content: center;
        order:2;
    }

    .footer__license{
        order:3;
    }

    .footer__license p{
        margin:auto;
    }

    .footer__item{
        padding:0;
        margin-bottom:20px;
    }

    .image-desktop{
        display:none;
    }

    .image-mobile{
        display:block;
    }

    .btn-outline-black{
       margin:35px 50px 0 50px;
       text-align:center;
    }

    .immersive__box{
        width:300px;
        padding:20px 20px 10px 20px;
    }

    .immersive .container{
        top:45%;
    }

    .creations__item h3{
        font-size:24px;
        bottom:10px;
        left:15px;
    }

    .grid{
        grid-auto-rows: 180px;
        grid-template-columns:1fr;
    }

    .creations__title h2{
        margin:auto;
        text-align:center;
    }
}

/*MEDIA QUERY 376px*/

@media screen and (max-width:376px){
    .container{
        padding:10px;
    }

    .creations__title h2{
        margin:auto;
        text-align:center;
    }
   
}

/*1080 p media query*/

@media screen and (min-width:1600px){
    .container{
        max-width:1440px;
    }

    .immersive{
        height:850px;
    }

    .immersive__box{
        width:800px;
    }

    .immersive__box h1{
        font-size:96px;
    }

    .welcome__text{
        padding:7vw 0 0 120px;
    }

    .grid{
        grid-template-columns:repeat(4,326px);
    }


}


